body {
    font-family: 'Poppins', sans-serif;
    padding: 2vmin;
    font-size: 15px;
    height: 100%;
    background-color: lightyellow;
    background-image: linear-gradient(white, lightyellow, #ece1ed, #b6a9b8, #ad99a3, #e884b8);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.logo{
    width: 235px;
    position: absolute;
}

.membershipEndMessage{
    text-align: center;
    height: 100px;
    font-weight: 500;
    font-size: 26px;
    line-height: 39px;
    color: #000000;
    padding-top: 4vmin;
}

ul {
    list-style-image: url("check1.png");
    font-weight: 400;
    font-size: 15px;
    line-height: 23px;
    color: #848199;
}

.backCard {
    float: left;
    width: 67%;
    background: #F2F2F2;
    display: inline-block;
    border-radius: 30px;
    margin: 2vmin 0;
    overflow: hidden;
    position: absolute;
    left: 13%;
}

.backCard::after {
    content: "";
    clear: both;
    display: table;
}

.leftSection {
    width: 29%;
    display: inline-block;
    padding: 2vmin;
}

.rightSection {
    width: 27%;
    float: right;
    padding: 2vmin 1px 2vmin 2vmin;
}

.centreSection {
    float: left;
    width: 22%;
    color: white;
    background: #8C52FF;
    padding: 2vmin;
    border-radius: 30px;
    position: absolute;
    display: block;
    left: 35%;
}

.centreSection::after {
    content: "";
    clear: both;
    display: table;
}

button {
    background-color: #231D4F;
    mix-blend-mode: normal;
    opacity: 0.5;
    border-radius: 24px;
    color: white;
    padding: 10px;
    border: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2vmin;
    width: 94%;

    font-weight: 500;
    font-size: 15px;
    line-height: 23px;
    text-align: center;
    color: white;
}

.mostPop {
    background: white;
    float: right;
    border-radius: 14px;
    border: none;
    padding: 5px 13px;
    width: auto;
    opacity: 1;
    margin-top: 1px;

    font-weight: 800;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.8px;
    color: #8C52FF;
}

h1 {
    color: #231D4F;
    font-style: normal;
    font-weight: 800;
    font-size: 34px;
    line-height: 46px;
}

h2 {
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 39px;
    color: #231D4F;
    margin-top: 1vmin;
    margin-bottom: 0px;
}

.browserMobilePlan{
    color: white;
}

.weeklyPrice{
    display: inline-block;
    font-weight: 600;
    line-height: 46px;
    padding-top: 2vmin;
    color: white;
}

.perWeek {
    display: inline;
    font-weight: 500;
    font-size: 17px;
    line-height: 26px;
}

.continue {
    background: #4919AA;
    opacity: 1;
}

.centreList {
    list-style-image: url("check2.png");
    color: white;
}