body {
    font-family: 'Poppins', sans-serif;
    padding: 2vmin;
    font-size: 15px;
}

.logo{
    width: 235px;
    position: absolute;
}

p{
    text-align: center;
    height: 100px;
    font-weight: 500;
    font-size: 26px;
    line-height: 39px;
    color: #000000;
    padding-top: 4vmin;
}

ul {
    list-style-image: url("check1.png");
    color: grey;
}

.backCard {
    float: left;
    width: 67%;
    background: lavenderblush;
    display: inline-block;
    border-radius: 30px;
    margin: 2vmin 0;
    overflow: hidden;
    position: absolute;
    left: 13%;
}

.backCard::after {
    content: "";
    clear: both;
    display: table;
}

.leftSection {
    width: 30%;
    display: inline-block;
    padding: 2vmin;
}

.rightSection {
    width: 30%;
    float: right;
    padding: 2vmin;
}

.centreSection {
    float: left;
    width: 20%;
    color: white;
    background: #8C52FF;
    padding: 2vmin;
    border-radius: 30px;
    position: absolute;
    display: block;
    left: 35%;
}

.centreSection::after {
    content: "";
    clear: both;
    display: table;
}

.mostPop {
    background: white;
    color: blueviolet;
    float: right;
    border-radius: 30px;
    border: none;
    font-size: small;
    font-weight: bold;
    padding: 7px;
}

.grade {
    text-align: center;
    background-color: grey;
    color: white;
    padding: 10px;
    border-radius: 30px;
    border: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    font-size: 15px;
    font-weight: bold;
}

h1 {
    color: #231D4F;
    font-style: normal;
    font-weight: 800;
    font-size: 34px;
    line-height: 46px;
}

h2 {
    height: 42px;
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 42px;
    color: #231D4F;
}

h3 {
    display: inline-block;
}

h4.week {
    display: inline-block;
}

.continue {
    background-color: indigo;
    color: white;
    border-radius: 30px;
    border: none;
    padding: 10px;
    width: 100%;
    font-size: 15px;
    font-weight: bold;
}

.centreList {
    list-style-image: url("check2.png");
    color: white;
}

@media screen and (max-width: 1072px) {
}